.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 30px;
    z-index: 1;
    background-color: #111;
}
.nav__Logo{
position: fixed;
left: 20px;
width: 80px;
object-fit: contain;
}
.nav__Avatar{
position: fixed;
right: 20px;
width: 30px;
object-fit: contain;
}